.nav-bar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex: 0.3;
}

.nav-bar-list li {
  float: left;
}

.nav-bar-list-element-link{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav-bar-list-element-link:hover {
  background-color: #25523B;
}

.search-bar {
  flex: 0.7;
  text-align: center;
  margin: auto;
}

.search-bar-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #5aab61;
}

.image-span {
    text-align: center;
    display:inline-block;
    vertical-align: top;
    padding: 10px;
    width: 150px;
    overflow: hidden;
}

.plant-image {
  text-align: center;
  display:inline-block;
  vertical-align: top;
  padding: 10px;
  overflow: hidden;
}

#addReviewForm {
  padding: 10px;
}

.plant-reviews {
  padding: 10px;
}

.plant-details {
  padding: 10px;
}

.blinking {
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
